@use '@angular/material' as mat;
@import 'palette';

$white: #ffffff;
$main-dark: #00223a;
$main: #eb6e34;
$second-main: #f3cb51;
$third-main: #efbc2d;
$accent: #7AFFEC;
$second-accent: #2DFFE0;
$third-accent: #3A7371;
$gray: #dfe2e5;
$second-gray: #e9ebef;
$third-gray: #FAFAFB;
$fourth-gray: #979FA8;
$fifth-gray: #F7F8FA;
$sixth-gray: #F4F9FF;
$seventh-gray: #E6EAF2;
$eight-gray: #F9FAFB;
$red: #D54238;
$second-red: #F65B51;
$green: #4BEB80;
$second-green: #44A64F;
$main-orange: #eb6e34;
$yellow: #f1c232;
$purple: #2567ff;
$light-blue: #DDFFFE;
$dark-blue: #001425;
