$white: #ffffff;
$main-dark: #00223a;
$main: #EB6E34;
$second-main: #bd724f;
$accent: #039E8E;
$second-accent: #34EBD8;
$third-accent: #d1a355;
$gray: #dfe2e5;
$second-gray: #e9ebef;
$third-gray: #FAFAFB;
$fourth-gray: #979FA8;
$fifth-gray: #F7F8FA;
$sixth-gray: #F4F9FF;
$seventh-gray: #E6EAF2;
$eight-gray: #F9FAFB;
$red: #D54238;
$second-red: #F65B51;
$success: #4BEB80;
$orange: #FF9F45;
$yellow: #F3BA2F;
$purple: #3745ed;
$light-blue: #12D0DF;
