@use '@angular/material' as mat;
@import 'palette';

$white: #ffffff;
$main-dark: mat.get-color-from-palette($darkblue, 500);
$main: mat.get-color-from-palette($orange, 500);
$second-main: mat.get-color-from-palette($orange, darker);
$accent: mat.get-color-from-palette($cyan, A200);
$second-accent: mat.get-color-from-palette($cyan, A700);
$third-accent: mat.get-color-from-palette($cyan, 100);
$gray: #dfe2e5;
$second-gray: #e9ebef;
$third-gray: #FAFAFB;
$fourth-gray: #979FA8;
$fifth-gray: #F7F8FA;
$sixth-gray: #F4F9FF;
$seventh-gray: #E6EAF2;
$eight-gray: #F9FAFB;
$red: #D54238;
$second-red: #F65B51;
$green: #4BEB80;
$second-green: #44A64F;
$orange: mat.get-color-from-palette($orange, 500);
$yellow: mat.get-color-from-palette($yellow, 500);
$purple: mat.get-color-from-palette($darkblue, A200);
$light-blue: mat.get-color-from-palette($cyan, 100);
$dark-blue: mat.get-color-from-palette($darkblue, 800);
