@mixin gradient-text($color-from: blueviolet, $color-to: blue) {
	background: linear-gradient(90deg, $color-from 0%, $color-to 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: max-content;
}

