$yellow: (
	50 : #fdf8e6,
	100 : #fbedc2,
	200 : #f8e199,
	300 : #f5d470,
	400 : #f3cb51,
	500 : #f1c232,
	600 : #efbc2d,
	700 : #edb426,
	800 : #ebac1f,
	900 : #e79f13,
	A100 : #ffffff,
	A200 : #fff4e2,
	A400 : #ffe2af,
	A700 : #ffd896,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #000000,
		600 : #000000,
		700 : #000000,
		800 : #000000,
		900 : #000000,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

$orange: (
	50 : #fdeee7,
	100 : #f9d4c2,
	200 : #f5b79a,
	300 : #f19a71,
	400 : #ee8452,
	500 : #eb6e34,
	600 : #e9662f,
	700 : #e55b27,
	800 : #e25121,
	900 : #dd3f15,
	A100 : #ffffff,
	A200 : #ffe0da,
	A400 : #ffb6a7,
	A700 : #ffa28d,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #000000,
		600 : #000000,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);


$cyan: (
	50 : #F6FFFE,
	100 : #DDFFFE,
	200 : #C4FFFD,
	300 : #ABFFFC,
	400 : #93E7E5,
	500 : #7ACAC8,
	600 : #62ADAB,
	700 : #4D908E,
	800 : #3A7371,
	900 : #285654,
	A100 : #ADFFF3,
	A200 : #7AFFEC,
	A400 : #47FFE4,
	A700 : #2DFFE0,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #000000,
		600 : #000000,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);
$brown: (
	50 : #f7eeea,
	100 : #ebd5ca,
	200 : #deb9a7,
	300 : #d19c84,
	400 : #c78769,
	500 : #bd724f,
	600 : #b76a48,
	700 : #ae5f3f,
	800 : #a65536,
	900 : #984226,
	A100 : #ffe1d8,
	A200 : #ffb9a5,
	A400 : #ff9272,
	A700 : #ff7e58,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #000000,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

$darkblue: (
	50 : #e0e4e7,
	100 : #b3bdc4,
	200 : #80919d,
	300 : #4d6475,
	400 : #264358,
	500 : #00223a,
	600 : #001e34,
	700 : #00192c,
	800 : #001425,
	900 : #000c18,
	A100 : #588bff,
	A200 : #2568ff,
	A400 : #004af1,
	A700 : #0042d7,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #ffffff,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #ffffff,
		A400 : #ffffff,
		A700 : #ffffff,
	)
);
