@use '@angular/material' as mat;

@import "fonts";
@import "colors";
@import "animations";
@import "mixins";
@import "theme";

// Global styles

// DARK/LIGHT styles
.theme-dark {
	@include mat.all-component-themes($mentocape-dark-theme);

	.invertible {
		filter: invert(1);
	}

	.grid-list {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.mat-drawer-container {
		background-color: #121212;
		color: mat.get-color-from-palette($cyan, 50);

		.mat-card {
			background-color: $dark-blue;
			background-image: linear-gradient(315deg, rgba(12, 186, 186, 0.4) 0%, rgba(56, 0, 54, 0.2) 74%);

			.card__avatar {
				padding: 8px;
				border: 12px solid transparent;
				background-color: #f5d020;
				background: linear-gradient(315deg, rgba(245, 208, 32, 0.8) 0%, rgba(245, 56, 3, 0.8) 74%) padding-box,
				linear-gradient(315deg, rgba(245, 208, 32, 0.2), rgba(245, 56, 3, 0.2)) border-box;
			}
		}
	}

	.primary-text {
		color: mat.get-color-from-palette($mentocape-primary);
	}

	.accent-text {
		color: mat.get-color-from-palette($mentocape-accent);
	}

	.step-element__title {
		color: $second-accent !important;
	}

	.default-link {
		font-weight: 500;
		color: $accent;
		cursor: pointer;

		&:hover {
			color: $purple;
		}

		&--dashed {
			border-bottom: 1px dashed $purple;
		}
	}
}

.theme-light {
	@include mat.all-component-themes($mentocape-light-theme);

	.invertible {
		filter: invert(0);
	}

	.grid-list {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.mat-drawer-container {
		background-color: $light-blue;
		background-image: linear-gradient(315deg, rgba(238, 192, 198, 0.2) 0%, rgba(126, 232, 250, 0.2) 74%);
		color: mat.get-color-from-palette($darkblue, 900);

		.mat-card {
			background-color: #ffffff;
			//background-image: linear-gradient(315deg, rgba(239, 87, 52, 0.2) 0%, rgba(255, 204, 47, 0.2) 74%);
			.card__avatar {
				padding: 8px;
				border: 12px solid transparent;
				background-color: #f5d020;
				background: linear-gradient(315deg, rgba(245, 208, 32, 0.8) 0%, rgba(245, 56, 3, 0.8) 74%) padding-box,
				linear-gradient(315deg, rgba(245, 208, 32, 0.2), rgba(245, 56, 3, 0.2)) border-box;
			}
		}
	}

	.primary-text {
		color: mat.get-color-from-palette($darkblue);
	}

	.accent-text {
		color: mat.get-color-from-palette($mentocape-accent);
	}

	.default-link {
		font-weight: 500;
		color: $third-accent;
		cursor: pointer;

		&:hover {
			color: $purple;
		}

		&--dashed {
			border-bottom: 1px dashed $purple;
		}
	}

}

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Rubik", "Roboto", sans-serif;
}

.logo__image:hover {
	animation: color-rotate 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.m-1 {
	margin: 1rem;
}

.p-1 {
	padding: 1rem;
}

.m-t-0_5 {
	margin-top: 0.5rem;
}

.m-t-1 {
	margin-top: 1rem;
}

.m-r-1 {
	margin-right: 1rem;
}

.m-t-1_25 {
	margin-top: 1.25rem;
}

.m-t-1_5 {
	margin-top: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
	max-width: 38.25rem;
	font-weight: bold;
	margin: 0;

	span {
		text-transform: uppercase;
		@include gradient-text(#ff4b4b, #008cff);
	}
}

.gradient {
	@include gradient-text(#ffcc00, #ff4b4b);
}

h1 {
	font-size: 3rem;
	line-height: 4rem;
}

h2 {
	font-size: 3rem;
	line-height: 3.5rem;
}

h3 {
	font-size: 2.5rem;
	line-height: 3rem;
}

h4 {
	font-size: 2rem;
	line-height: 2.5rem;
}

h5 {
	font-size: 1.5rem;
	line-height: 2rem;
}

.d-flex {
	display: flex;
}

.main-container {
	max-width: 73.125rem; // 12 columns (width: 4.375rem; margin: 1.875rem;)
	margin: 4rem auto;

	@media screen and(max-width: 1440px) {
	}
}

.main-card {
	display: flex;
	align-items: center;
	justify-content: center;
}

.media-container {
	box-shadow: inset 0 -1px #dfe2e5, inset 0 1px #dfe2e5;
	padding: 64px 0;

	display: flex;
	flex-flow: column;
	align-items: center;
	height: fit-content;

	@media screen and (max-width: 1440px) {
		margin-top: 0;
	}

	p {
		max-width: 38.25rem;
		margin: 1rem 0 0;
		line-height: 1.5rem;
	}
}


.card-list {
	display: grid;

	grid-template-columns: repeat(3, minmax(250px, 1fr));
	gap: 1rem;
	padding: 3rem;
}

.main-button {
	background: $white;
	border: 1px solid $gray;
	font-weight: 600;
	height: 2.5rem;
	padding: 0 1.5rem;
	box-shadow: 0 1px 1px rgba(32, 36, 46, 0.12);
	border-radius: 6px;
	font-size: 0.875rem;
	color: $main-dark;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;

	&:hover {
		color: $third-main;
		box-shadow: none;
	}

	svg, img {
		margin-right: 0.5rem;
	}

	&--sm {
		width: fit-content;
		height: 1.5rem;
		padding: 0.5rem;
	}

	&--md {
		height: 2rem;
	}

	&--lg {
		height: 3rem;
	}

	&--x-lg {
		height: 4rem;
	}

	&--light-blue {
		background-color: $light-blue;
		color: $white;
		border: 1px solid $light-blue;

		&:hover {
			color: $main-dark;
		}
	}

	&--active {
		font-weight: 500;

		&:hover {
			color: $third-main;

			path {
				fill: $third-main;
			}
		}
	}

	&--dark {
		background-color: $main-dark;
		color: $white;
		border: $main-dark;
	}

	&--delete {
		&:hover {
			color: $red;
		}
	}

	&--warning {
		background-color: $red;
		color: $white;
		border: 1px solid $red;
		box-shadow: 0 1px 1px rgba(32, 36, 46, 0.12), 0 2px 8px rgba(213, 66, 56, 0.24);

		&:hover {
			background-color: $second-red;
		}
	}

	&--accent {
		color: $accent;

		path {
			fill: $accent;
		}

		&:hover {
			color: $third-main;

			path {
				fill: $third-main;
			}
		}
	}

	&--success {
		background-color: $green;
		color: $white;
		border: none;
		box-shadow: 0 1px 1px rgba(32, 36, 46, 0.12), 0 2px 8px rgba(95, 205, 107, 0.24);

		&:hover {
			background-color: $second-green;
			color: $white;
			box-shadow: none;
		}
	}

	&--main-filled {
		background-color: $third-main;
		color: $white;
		border: 1px solid $second-main;

		&:hover {
			background-color: $second-main;
			color: $white;
			box-shadow: 0 1px 1px rgba(32, 36, 46, 0.12), 0 2px 8px rgba(47, 79, 146, 0.24);

		}
	}

	&--accent-filled {
		background-color: $accent;
		color: $white;
		border: 1px solid $accent;

		&:hover {
			background-color: $third-accent;
			color: $white;
			border: 1px solid $third-accent;
		}
	}

	&--main {
		color: $third-main;
	}

	&[disabled] {
		background: $second-gray;
		color: $fourth-gray;
		cursor: not-allowed;
		font-weight: 400;
		box-shadow: none;
		border: 1px solid transparent;
		pointer-events: none;

		svg {
			path {
				fill: $fourth-gray;
			}
		}
	}
}

.d-flex {
	display: flex;
}

.w-100 {
	width: 100%;
}

.justify-content {
	&-between {
		justify-content: space-between;
	}

	&-center {
		justify-content: center;
	}

	&-end {
		justify-content: end;
	}

}

.align-items {
	&-start {
		align-items: start;
	}

	&-center {
		align-items: center;
	}

	&-end {
		align-items: end;
	}

}

.default-select {
	.mat-select-value-text {
		position: absolute;
		font-size: 0.875rem;
		font-weight: 500;
		left: 1rem;
		top: 50%;
		transform: translateY(-50%);
	}

	.mat-form-field-wrapper {
		.mat-select-arrow-wrapper {
			position: absolute;
			top: 50%;
			right: 1rem;
		}
	}

	.mat-form-field-flex {
		height: 2.5rem;

		.mat-form-field-infix {
			position: static;
		}
	}

	.mat-select-trigger {
		position: static;
		width: 100%;

		.mat-select-arrow {
			color: var($main-dark);
		}
	}

	mat-form-field {
		width: 100%;
	}

	.mat-focused {
		.mat-form-field-flex {
			border: 1px solid var($main-dark);
			box-shadow: 0 0 0 3px rgba(70, 185, 255, 0.12);
		}
	}
}

.default-tile {
	display: flex;
}

