<section *ngIf="auth.user | async as user; else guest" class="main-container">
	<mat-card class="main-card user-card">
		<div class="user-card__header">
			<div class="user-card__title">
				<img [src]="user.photoURL" alt="avatar" class="user-card__image" mat-card-avatar>
				<div class="text">
					<mat-card-title class="m-t-1">{{user.displayName}}</mat-card-title>
					<mat-card-subtitle *ngIf="!!user.position">{{user.position}}</mat-card-subtitle>
				</div>
			</div>
			<div class="user-card__uid">UID: {{ user.uid }}</div>
		</div>
		<mat-card-content class="content">
			<ng-container *ngIf="user.isMentor; else studentContent">
				<p class="card__email">Email: {{user.email}}</p>
				<p class="card__email">Age: {{user.age}}</p>
				<p class="card__email">Location: {{user.location}}</p>
				<p class="card__email">Languages: {{user.languages}}</p>
				<p class="card__email">Students: {{user.students}}</p>
			</ng-container>

			<ng-template #studentContent>
				<p class="card__email">Email: {{user.email}}</p>
				<p class="card__email">Age: {{user.age}}</p>
				<p class="card__email">Location: {{user.location}}</p>
				<p class="card__email">Languages: {{user.languages}}</p>
				<p class="card__email">Mentors: {{user.mentors}}</p>
			</ng-template>
		</mat-card-content>
		<mat-card-actions align="end">
			<ng-container *ngIf="!isEdited; else editButtons">
				<button appLogout color="warn" mat-stroked-button>Logout</button>
				<button (click)="startEdit()" color="accent" mat-flat-button>Edit</button>
			</ng-container>

			<ng-template #editButtons>
				<button (click)="cancelEdit()" color="warn" mat-stroked-button>Cancel</button>
				<button (click)="save()" color="accent" mat-raised-button>Save</button>
			</ng-template>
		</mat-card-actions>
	</mat-card>
	<app-become-mentor *ngIf="!user.isMentor"></app-become-mentor>
</section>

<ng-template #guest>
	<div class="main-container">
		<div class="media-container">
			<h3>You are currently not logged in.</h3>
			<p>Proceed with login or signup procedure to continue...</p>

			<button appGoogleSignin mat-raised-button>
				<img src="/assets/icons/google-logo.svg"/> with Google
			</button>
		</div>
	</div>
</ng-template>
