<section class="main-container">
	<div *ngIf="!(afAuth.authState | async)">
		<app-email-login></app-email-login>
	</div>

	<div *ngIf="afAuth.authState | async as user" class="logout">
		<div class="main-container">
			<mat-card class="main-card">
				<mat-card-content>
					<p>Logged in as <strong>{{ user.email }}</strong></p>
				</mat-card-content>
				<mat-card-actions>
					<button mat-stroked-button (click)="afAuth.signOut()">Logout</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</section>
