@import "~src/app/styles/colors";

.step-list {
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	gap: 28px;
	text-align: center;

	.step-element {
		&__title {
			font-size: x-large;
			color: #285654;
		}

		&__number {
			font-size: x-large;

			span {
				font-size: xxx-large;
			}
		}

		&__image {
			display: flex;
			align-items: center;
			margin: 0 auto 1rem;
			justify-content: center;

			height: 30%;
			box-sizing: border-box;
			border-radius: 50%;
			background: $white;
			padding: 1rem;
			aspect-ratio: 1 / 1;
		}
	}
}
