<div class="step-list">
	<div class="step-element">
		<h2 class="step-element__title">Mentees taught</h2>
		<div class="step-element__image">
			<img alt="Register with us" src="./assets/icons/step-tutorial.svg">
		</div>
		<p class="step-element__number"><span class="gradient">0</span>/10</p>
	</div>
	<div class="step-element">
		<h2 class="step-element__title">Tasks closed</h2>
		<div class="step-element__image">
			<img alt="Step regarding trust" src="./assets/icons/step-trust.svg">
		</div>
		<p class="step-element__number"><span class="gradient">0</span>/100</p>
	</div>
	<div class="step-element">
		<h2 class="step-element__title">Calls done</h2>
		<div class="step-element__image">
			<img alt="Step regarding decision" src="./assets/icons/step-decision.svg">
		</div>
		<p class="step-element__number"><span class="gradient">0</span>/100</p>
	</div>
	<!--	<div class="step-element">-->
	<!--		<h2 class="step-element__title">Mentors taught</h2>-->
	<!--		<div [style.border-color]="'#7ACAC8'" class="step-element__image">-->
	<!--			<img alt="Step regarding list" src="./assets/icons/step-list.svg">-->
	<!--		</div>-->
	<!--		<p class="step-element__number">Decide on a destination of your mentorship road with mentor!</p>-->
	<!--	</div>-->
	<!--	<div class="step-element">-->
	<!--		<h2 class="step-element__title">Mentors taught</h2>-->
	<!--		<div [style.border-color]="'#93E7E5'" class="step-element__image">-->
	<!--			<img alt="Step regarding struggle" src="./assets/icons/step-struggle.svg">-->
	<!--		</div>-->
	<!--		<p class="step-element__number">Start working towards your goals under guidance!</p>-->
	<!--	</div>-->
</div>
