<section class="media-container">
	<h2>Meet our mentors</h2>
	<div class="mentors-grid">
		<mat-card class="card mentor-card" *ngFor="let mentor of mentors">
			<mat-card-header>
				<img *ngIf="mentor.photoURL === ''" [src]="'https://robohash.org/' + mentor.uid" alt="No avatar provided"
						 class="card__avatar">
				<img *ngIf="mentor.photoURL !== ''" [src]="mentor.photoURL" alt="No avatar provided" class="card__avatar">
				<mat-card-title class="card__title">{{mentor.displayName}}</mat-card-title>
				<mat-card-subtitle *ngIf="!!mentor.position" class="card__subtitle">{{mentor.position}}</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<p class="card__prop">Location: {{mentor.location}}</p>
			</mat-card-content>
			<mat-card-footer>
				<mat-card-actions align="end">
					<button
						mat-flat-button
						(click)="navigateToUrl(mentor.socialLink)"
						class="main-button main-button--x-lg"
						color="accent"
						target="_blank">Book an intro call!
					</button>
				</mat-card-actions>
			</mat-card-footer>
		</mat-card>

	</div>
</section>
