@import 'src/app/styles/colors';

.mentors-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10px;
}

.mentor-card {
	max-width: 400px;
	border: 4px solid #fff;
}

.card {
	display: flex;
	position: relative;
	flex-flow: column nowrap;
	padding: 1.5rem 1.5rem 0;

	mat-card-header {
		align-items: center;
		flex-direction: column-reverse;
		text-align: center;
	}

	mat-card-footer {
		height: 100%;

		mat-card-actions {
			padding: 0;

			> * {
				width: 50%;
			}
		}
	}

	&__title {
		margin-top: 1rem;
	}

	&__subtitle {
		margin-top: 0.5rem;
	}

	&__avatar {
		width: 200px;
		max-width: 50%;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
	}
}

.mentor-card__image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
}
