<article class="media-container mat-elevation-z12">
	<h2>Find your <span>mentor</span> in five easy steps.</h2>
	<div class="step-list">
		<div class="step-element">
			<img alt="Register with us" class="step-element__image" src="./assets/icons/step-tutorial.svg">
			<h2 class="step-element__title">Step 1</h2>
			<p class="step-element__description">Create your MentorCape account!</p>
		</div>
		<div class="step-element">
			<img alt="Step regarding decision" class="step-element__image" src="./assets/icons/step-decision.svg">
			<h2 class="step-element__title">Step 2</h2>
			<p class="step-element__description">Browse our community of experts to find the right one for you.</p>
		</div>
		<div class="step-element">
			<img alt="Step regarding trust" class="step-element__image" src="./assets/icons/step-trust.svg">
			<h2 class="step-element__title">Step 3</h2>
			<p class="step-element__description">Get in touch with your chosen Mentor via intro call!</p>
		</div>
		<div class="step-element">
			<img alt="Step regarding list" class="step-element__image" src="./assets/icons/step-list.svg">
			<h2 class="step-element__title">Step 4</h2>
			<p class="step-element__description">Decide on a destination of your mentorship road with mentor!</p>
		</div>
		<div class="step-element">
			<img alt="Step regarding struggle" class="step-element__image" src="./assets/icons/step-struggle.svg">
			<h2 class="step-element__title">Step 5</h2>
			<p class="step-element__description">Start working towards your goals under guidance!</p>
		</div>
	</div>
</article>
