<article class="media-container mat-elevation-z12">
	<h2>Find your <span>mentor</span> in five easy steps.</h2>
	<div class="step-list">
		<div class="step-element">
			<div [style.border-color]="'#285654'" class="step-element__image">
				<img alt="Register with us" src="./assets/icons/step-tutorial.svg">
			</div>
			<h2 class="step-element__title">Step 1</h2>
			<p class="step-element__description">Create your MentorCape account!</p>
		</div>
		<div class="step-element">
			<div [style.border-color]="'#3A7371'" class="step-element__image">
				<img alt="Step regarding decision" src="./assets/icons/step-decision.svg">
			</div>
			<h2 class="step-element__title">Step 2</h2>
			<p class="step-element__description">Browse our community of experts to find the right one for you.</p>
		</div>
		<div class="step-element">
			<div [style.border-color]="'#4D908E'" class="step-element__image">
				<img alt="Step regarding trust" src="./assets/icons/step-trust.svg">
			</div>
			<h2 class="step-element__title">Step 3</h2>
			<p class="step-element__description">Get in touch with your chosen Mentor via intro call!</p>
		</div>
		<div class="step-element">
			<div [style.border-color]="'#7ACAC8'" class="step-element__image">
				<img alt="Step regarding list" src="./assets/icons/step-list.svg">
			</div>
			<h2 class="step-element__title">Step 4</h2>
			<p class="step-element__description">Decide on a destination of your mentorship road with mentor!</p>
		</div>
		<div class="step-element">
			<div [style.border-color]="'#93E7E5'" class="step-element__image">
				<img alt="Step regarding struggle" src="./assets/icons/step-struggle.svg">
			</div>
			<h2 class="step-element__title">Step 5</h2>
			<p class="step-element__description">Start working towards your goals under guidance!</p>
		</div>
	</div>
</article>
