.grid-list {
	margin: 1rem;
	margin-top: 3rem;
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr min-content;
	grid-template-rows: max-content 1fr 1fr;
	gap: 16px 0px;

	grid-auto-flow: row;
	grid-template-areas:
    "student-info student-info student-info student-info mentor-info"
    "student-tasks student-tasks student-tasks student-tasks student-tasks"
    "student-tasks student-tasks student-tasks student-tasks student-tasks";
}

.student-info {
	grid-area: student-info;
	padding-right: 1rem;
}

.mentor-info {
	grid-area: mentor-info;
	align-self: stretch;

	.content {
		display: flex;
		align-self: center;
	}
}

.student-tasks {
	grid-area: student-tasks;
}
