<header>
	Filters will be here
</header>
<mat-divider></mat-divider>
<section class="card-list">
	<mat-card class="card">
		<mat-card-header>
			<p>Joined: 12/12/2021</p>
			<h2><span>John Doe</span></h2>
		</mat-card-header>
	</mat-card>
	<mat-card class="card">
		<mat-card-header>
			<p>Joined: 12/12/2021</p>
			<h2><span>John Doe</span></h2>
		</mat-card-header>
	</mat-card>
	<mat-card class="card">
		<mat-card-header>
			<p>Joined: 12/12/2021</p>
			<h2><span>John Doe</span></h2>
		</mat-card-header>
	</mat-card>
	<mat-card class="card">
		<mat-card-header>
			<p>Joined: 12/12/2021</p>
			<h2><span>John Doe</span></h2>
		</mat-card-header>
	</mat-card>
</section>
