<mat-card class="card">
	<mat-card-header>
		<img *ngIf="user.photoURL === ''" [src]="'https://robohash.org/' + user.uid" alt="No avatar provided"
				 class="card__avatar">
		<img *ngIf="user.photoURL !== ''" [src]="user.photoURL" alt="No avatar provided" class="card__avatar">
		<mat-card-title class="card__title">{{user.displayName}}</mat-card-title>
		<mat-card-subtitle *ngIf="!!user.position" class="card__subtitle">{{user.position}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<ng-container *ngIf="isMentor; else studentContent">
			<p class="card__prop">Age: {{user.age}}</p>
			<p class="card__prop">Location: {{user.location}}</p>
			<p class="card__prop">Languages: {{user.languages}}</p>
			<p class="card__prop">Description: {{user.description}}</p>
			<p class="card__prop">Position: {{user.position}}</p>
			<p class="card__prop">Role: {{user.role}}</p>
			<p class="card__prop">Industry: {{user.industry}}</p>
			<p class="card__prop">Categories: {{user.categories}}</p>
		</ng-container>

		<ng-template #studentContent>
			<mat-chip-list class="chip-list">
				<mat-chip selected color="'primary'">Email: {{user.email}}</mat-chip>
			</mat-chip-list>
			<ng-container *ngIf="!!user.age">
				<p class="card__email">Age: {{user.age}}</p>
				<p class="card__email">Location: {{user.location}}</p>
				<p class="card__email">Languages: {{user.languages}}</p>
				<p class="card__email">Mentors: {{user.mentors}}</p>
			</ng-container>
		</ng-template>

	</mat-card-content>
	<mat-card-footer>
		<mat-card-actions>
			<ng-container *ngIf="isMentor; else studentActions">
				<button
					mat-stroked-button
					[routerLink]="['/mentor/' + user.uid]"
					class="main-button--x-lg"
					color="warn"
				>Show more!
				</button>
				<button
					mat-flat-button
					(click)="navigateToUrl(user.socialLink)"
					class="main-button main-button--x-lg"
					color="accent"
					target="_blank">Book an intro call
				</button>
			</ng-container>

			<ng-template #studentActions>
				<button
					mat-stroked-button
					[routerLink]="['/student/' + user.uid]"
					class="main-button--x-lg"
					color="warn"
				>Show more!
				</button>
			</ng-template>
		</mat-card-actions>
	</mat-card-footer>
</mat-card>
